$padding: 1rem;

.folder-icon {
   color: rgba(254, 214, 102, 1);
   vertical-align: middle; 
}

#toolbar {
   width: 100%;
   border-bottom: 1px solid black;
   .path-bar, .search-bar {
      background-color: rgba(240, 240, 240, 1);
      float: left; 
      height: 60px;
      padding: $padding;
   }

   .path-bar {
      width: 70%;
      .path-bar-field {
         width: 80%;
       }

   }
   .search-bar {
      width: calc(30% - $padding*4);
   }

   .folder-icon {
      margin-right: 0.5rem;
   }
}

#main {
   table {
      width: 100%;

      .mat-row:nth-child(even){
         background-color: rgba(255, 255, 255, 1);
      }
            
      .mat-row:nth-child(odd){
            background-color: rgba(250, 250, 250, 1);
      }

      .mat-row {
         cursor: pointer;
         &:hover {
            background-color: rgb(238, 239, 255);
            transition: background-color 0.5s;
         }
      }
   }

   .folder-icon, .file-icon {
      vertical-align: bottom;
   }
}